<div style="width: 100%;height: 100%;">
    <div *ngIf='!mailSent' class="Aligner" style="height: 100%;">
        <div class="Aligner-item">
            <i class="pi pi-spin pi-spinner" style="position: relative;top: 50%;font-size: 5em;"></i>
        </div>
    </div>
    <div *ngIf='mailSent'>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <p-panel header='Enter new Password'>
                    <div class="row mb-1">
                        <div class="col-3 text-right">
                            <label for="password" class="form-group">password:</label>
                        </div>
                        <div class="col-9">
                            <input type="password" name="password" id="" class="form-control" [(ngModel)]='password'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right">
                            <label for="repassword" class="form-group">Re-enter Password:</label>
                        </div>
                        <div class="col-9">
                            <input type="password" name="repassword" id="" class="form-control" [(ngModel)]='repassword'>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3">
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" (click)='changePassword()'>Change password</button>
                        </div>
                        <div class="col-3">
        
                        </div>
                    </div>
                </p-panel>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>