<div style="width: 100%;height: 100%;">
    <div *ngIf='!otpSent' class="Aligner" style="height: 100%;">
        <div class="Aligner-item">
            <i class="pi pi-spinner pi-spin" style="position: relative;top: 50%;font-size: 5em;"></i>
        </div>
    </div>
    <div *ngIf='otpSent'>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <p-panel header='Forgot password'>
                    <div class="row">
                        <div class="col-3 text-right">
                            <label for="username" class="form-group">Enter Username:</label>
                        </div>
                        <div class="col-9">
                            <input type="email" name="username" id="" class="form-control" [(ngModel)]='username'>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3">
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" (click)='resetPassword()'>Reset Password</button>
                        </div>
                        <div class="col-3">
        
                        </div>
                    </div>
                </p-panel>
                
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>